.body {
  padding: 0 24px 0 24px;
}

.label {
  margin-top: 48px;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, sans-serif;
  margin-bottom: 8px;
}

.image {
  display: block;
  max-width: 768px;
  width: 100%;
}

.paragraph {
  margin-top: 24px;
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 800px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, sans-serif;
}

.performance {
  font-family: 'Body';
  margin-top: 16px;
}

.dataTag {
  display: flex;
  align-items: flex-start;
  color: #fff;
  justify-content: space-between;
  margin-bottom: 1px;
  max-width: 800px;
}

.dataTagLeft {
  flex-shrink: 0;
  width: 120px;
  padding: 8px;
  font-size: 1.25rem;
  background: rgba(0, 0, 0, 0.9);
  align-self: stretch;
  text-align: right;
}

.dataTagRight {
  min-width: 10%;
  width: 100%;
  padding: 8px 8px 24px 8px;
  font-size: 1.25rem;
  background: rgba(0, 0, 0, 0.8);
  overflow-wrap: break-word;
  white-space: pre-wrap;
  align-self: stretch;
}

.dataTagLeftQuote {
  flex-shrink: 0;
  width: 120px;
  align-self: stretch;
}

.dataTagRightQuote {
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, sans-serif;
  min-width: 10%;
  width: 100%;
  line-height: 1.5;
  font-size: 1rem;
  padding: 24px 8px 24px 8px;
  color: rgba(0, 0, 0, 0.75);
  background: rgba(0, 0, 0, 0.025);
  overflow-wrap: break-word;
  white-space: pre-wrap;
  align-self: stretch;
}
