.body {
  padding: 0 24px 0 24px;
}

.paragraph {
  margin-top: 24px;
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 800px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, sans-serif;
}
